* { box-sizing: border-box; }

body {
    font-family: sans-serif;
}

.div-center-align {
    margin: 0 auto;
}

.div-default-padding {
    padding: 2%;
}

.title-text {
    font-size: 1rem;
}

.modal-xl {
    max-width: 90%;
}

.btn-light {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        max-width: 100%;
    }
}
