.signup-container {
    padding: 3%;
}

.signup-logo-container {
    min-width: 80px;
    min-height: 80px;
    width: 12%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.signup-logo-image {
    width: 100%;
    height: auto;
    min-width: 80px;
    min-height: 80px;
}

.signup-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.signup-button {
    margin-top: 1%;
}

.errorlist {
    color: red;
}
