{% block content %}

<!-- Delete Photo Modal -->
<div class="modal fade" id="deletePhotoModal" tabindex="-1" role="dialog" aria-labelledby="deletePhotoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePhotoModalLabel">Delete Photo</h5>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete this photo?</p>
            </div>
            <div class="modal-footer">
                <form action="{% url 'photo_delete' photo.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
